TELEGRAM_BOT_TOKEN=PASTE_YOUR_TOKEN
TGBOT_UPDATE_OFFSET=0
TGBOT_UPDATE_TIMEOUT=60

HOLIDAYS_API_URL="https://holidays.abstractapi.com/v1/?api_key="
HOLIDAYS_API_KEY=612167b34136444590508e0b04577535

OPENWEATHER_GEOCODING="http://api.openweathermap.org/geo/1.0/direct?"
OPENWEATHER_FORECAST="https://api.openweathermap.org/data/3.0/onecall?"
OPENWEATHER_ICONS="https://openweathermap.org/img/wn/"
OPENWEATHER_API_KEY=b6d7dd69957b3eef0ddc481467f73dba