MODE=server
# DB_URI="mongodb://mongo:27017"
DB_PORT=

TELEGRAM_BOT_TOKEN=PASTE_YOUR_TOKEN
# TGBOT_UPDATE_OFFSET=
# TGBOT_UPDATE_TIMEOUT=

HOLIDAYS_API_URL="https://holidays.abstractapi.com/v1/?api_key="
HOLIDAYS_API_KEY=PASTE_YOUR_KEY

OPENWEATHER_GEOCODING="http://api.openweathermap.org/geo/1.0/direct?"
OPENWEATHER_FORECAST="https://api.openweathermap.org/data/3.0/onecall?"
OPENWEATHER_ICONS="https://openweathermap.org/img/wn/"
OPENWEATHER_API_KEY=PASTE_YOUR_KEY
